<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="AboutUsStyle.css" rel="stylesheet" type="text/css" />
     <link rel="shortcut icon" href="Oxygen.png" type="image/x-icon">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> 
<link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href=
"https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity=
"sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
         crossorigin="anonymous">
         <link rel="shortcut icon" href="Oxygen.png" type="image/x-icon">
   <style>
    .logo1{
	width: 100%;
	height: 40px
}
   </style>

 
</head>
<body>
   <nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 15vh;">
  <div class="container-fluid" >
    <a class="navbar-brand" href="#"><img id="image-1" class="logo1" alt="LOGO" src="Oxygen.png" ></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="index">Home</a>
        </li>
        
       
            <li class="nav-item">
          <a class="nav-link" href="/register">Profile</a>
        </li>
       
         <li class="nav-item">
          <a class="nav-link" href="all_services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="AboutUs">About Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

    </div>
    <br>
    <div>                                       <!-----Overview-->
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <img src="OIP (1).jpg" height = "300px" class="card-img-top" alt="...">
                </div>
                <div class="col-9">
                    <div class="row">
                        <p class="text2">
                            About Oxygen
                        </p>
                    </div>
                    <div class="row">
                        <p class="text1">Oxygen is headquartered in Mumbai, India, and operates a network of branches 
                            across the India. Our first facility was established in Kharghar,Navi Mumbai
                             with 3 production units and we have since grown to 12 states. 
                             Today our group became a family of 300 employees through a combination of greenfield projects and acquisitions. 
                             We believe that the "Oxyzone" brand is strongly associated with our mission to deliver 
                             high-quality and affordable products to the broader population by leveraging our economies of scale, 
                             skilled engineers, and an efficient business model.
                           
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">                      <!-----Horizontal lines-->  
        <div class="row justify-content-center">
            <div class="col-12"><hr></div>
        </div>
    </div>
    <br>

    <div>                                       <!-----Our mission-->
        <div class="container">
            <div class="row">
                
                <div class="col-8">
                    <div class="row">
                        <p class="text2">
                            Our Mission
                        </p>
                    </div>
                    <div class="row">
                        <p class="text1">Our mission is to deliver high quality affordable products to the broader population in India. 
                            Our core values encompasses innovation, efficiency,respect for all and excellence as a culture. 
                            At the same time, we seek to generate a strong financial performance
                           and deliver long-term value to our shareholders through the execution of our business strategy.
                        </p>
                    </div>

                </div>
                <div class="col-1"></div>
                <div class="col-3">
                    <img src="OIP (3).jpg" height = "300px" class="card-img-top" alt="...">
                </div>
            </div>
        </div>
    </div>
    
    <br>
    <div class="container">                       <!-----Horizontal lines-->      
        <div class="row justify-content-center">
            <div class="col-12"><hr></div>
        </div>
    </div>
    <br>

    <br>
    <div>                                           <!-----Our achievements-->
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <img src="OIP (4).jpg" height = "300px" class="card-img-top" alt="...">
                </div>
                <div class="col-9">
                    <div class="row">
                        <p class="text2">
                            Achievements
                        </p>
                    </div>
                    <div class="row">
                        <p>
                            <ul>
                                <li class="text1">Scaled up production by 150% in two years to meet business demand by launching new production lines.</li>
                                <li class="text1">Recruited a team of 18 engineers in les than 6 months to jumpstart an aggresive development schedule.</li>
                                <li class="text1">Delivered 50 MT of Oxygen within 2 weeks in Covid infected cities. </li>
                            </ul>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12"><hr></div>
        </div>
    </div>
    <br>

    <!---Cards for quick links-->
<div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                
                <div class="card shadow" style="width: 20rem;">        
                    <div class="inner">
                        <img src="th2.jpg" height="100px" class="card-img-top" alt="...">
                    </div>

                    <div class="card-body text-center">                
                        
                        <h5 class="card-title">Our Team</h5>
                        <p class="card-text">An inside look at our leadership team.</p>
                        <a href="team" class="btn btn-primary">Know More</a>
                        
                    </div>
                </div>
                
            </div>
            <div class="col-md-4">
                <div class="card shadow" style="width: 20rem;">         
                    <div class="inner">
                        <img src="th3.jpg" height="100px" class="card-img-top" alt="...">
                    </div>
                    
                    <div class="card-body text-center">                 
                      <h5 class="card-title">Our Presence</h5>
                      <p class="card-text">Six cities and many more to connect</p>
                      <a href="branches" class="btn btn-primary">Know More</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow" style="width: 20rem;">         
                    <div class="inner">
                        <img src="th.jpg" height="100px" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body text-center">                 
                      <h5 class="card-title">Our Clients</h5>
                      <p class="card-text">More than 150 MT of oxygen delivered.</p>
                      <a href="clients" class="btn btn-primary">Know More</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid ">
  <!-- Footer -->
  <footer
          class="text-center text-lg-start text-dark"
          style="background-color: #ECEFF1"
          >
    <!-- Section: Social media -->
    <section
             class="d-flex justify-content-between p-4 text-white"
             style="background-color: #21D192"
             >
      <!-- Left -->
      <div class="me-5">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold">Oxygen Pvt. Ltd.</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              Here we supply the life line that is oxygen. We keep this in
              mind that none of our customers have to get in problem with
              Oxygen supply.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Products</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              <a class="text-dark">Liquid Oxygen</a>
            </p>
            <p>
              <a class="text-dark">Gaseous Oxygen</a>
            </p>
            <p>
              <a  class="text-dark">Large scale</a>
            </p>
            <p>
              <a class="text-dark">Sports Purpose</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Useful links</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              <a href="AboutUs" class="text-dark">AboutUs</a>
            </p>
            <p>
              <a href="login" class="text-dark">Login</a>
            </p>
            <p>
              <a href="all_services" class="text-dark">All services</a>
            </p>
            <p>
              <a href="team" class="team">Help</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Contact</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p><i class="fas fa-home mr-3"></i> Sector 23 ,Mumbai-east</p>
            <p><i class="fas fa-envelope mr-3"></i> oxygen@supply.com</p>
            <p><i class="fas fa-phone mr-3"></i> +91 9944937495</p>
            <p><i class="fas fa-print mr-3"></i> +91 8954920403</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2022 Copyright:
      <a class="text-dark" href="home.html"
         >Oxygen Pvt. Ltd</a
        >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>
<!-- End of .container -->

</html>