<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> 
<link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href=
"https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity=
"sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
         crossorigin="anonymous">
         <link rel="shortcut icon" href="Oxygen.png" type="image/x-icon"><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> 
<link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href=
"https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity=
"sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
         crossorigin="anonymous">
         <link rel="shortcut icon" href="Oxygen.png" type="image/x-icon">
    <title>Services</title>
    <link rel="stylesheet" href="all_services.css" />
    <script
      src="https://kit.fontawesome.com/c4254e24a8.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 15vh;">
  <div class="container-fluid" >
    <a class="navbar-brand" href="#"><img id="image-1" class="logo1" alt="LOGO" src="Oxygen.png" ></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="index">Home</a>
        </li>
        
         <li class="nav-item">
          <a class="nav-link" href="/register">Profile</a>
        
        <li class="nav-item">
          <a class="nav-link" href="all_services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="AboutUs">About Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
    <div class="serv">
      <h1>Services</h1>
      <div class="row1">
        <div class="service">
          <i class="fa-sharp fa-solid fa-hospital"></i>
          <h2>Hospital use</h2>
          <p>
            Oxygen is an essential medicine. Healthcare professionals use oxygen
            to treat respiratory illnesses like COVID-19 and pneumonia.
          </p>
        </div>
        <div class="service">
          <i class="fas fa-chart-line"></i>
          <h2>Government Workshops</h2>
          <p>
            Launching the National Oxygen Stewardship Programme <br />at the
            AIIMS.
          </p>
        </div>
        <div class="service">
          <i class="fa-solid fa-clone"></i>
          <h2>Fabrication</h2>
          <p>
            Oxygen has the ability to <br />generates heat that continues to
            feed the process,<br />
            it is used for thermal cutting (oxyfuel, plasma and laser).
          </p>
        </div>
        <div class="service">
          <i class="fas fa-database"></i>
          <h2>steel units</h2>
          <p>
            pure oxygen is blown into a bath of molten blast-furnace iron and
            scrap.
          </p>
        </div>
        <div class="service">
          <i class="fa-sharp fa-solid fa-rocket"></i>
          <h2>space Reaseach</h2>
          <p>
            Oxygen has the ability to react with the carbon in the steel,
            <br />which generates heat that continues to feed the process, it is
            used for thermal cutting (oxyfuel, plasma and laser).
          </p>
        </div>
        <div class="service">
          <i class="fa-sharp fa-solid fa-whiskey-glass"></i>

          <h2>Refrigeration</h2>
          <p>
            Oxygen and carbon dioxide can be condensed into liquid
            <br />refrigerants but the pressures involved are high
          </p>
        </div>
        <div class="service">
          <i class="fa-sharp fa-solid fa-ship"></i>
          <h2>Ship building and Repairing</h2>
          <p>
            They are used successfully on cruise ships <br />and by some major
            US oil companies in <br />addition to the medical oxygen
            cylinders<br />
            carried on board.
          </p>
        </div>
        <div class="service">
          <i class="fas fa-network-wired"></i>
          <h2>Welding services</h2>
          <p>
            gas welding is a process which relies on combustion of oxygen and
            acetylene.
          </p>
        </div>
      </div>
    </div>
    <div class="container-fluid ">
  <!-- Footer -->
  <footer
          class="text-center text-lg-start text-dark"
          style="background-color: #ECEFF1"
          >
    <!-- Section: Social media -->
    <section
             class="d-flex justify-content-between p-4 text-white"
             style="background-color: #21D192"
             >
      <!-- Left -->
      <div class="me-5">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold">Oxygen Pvt. Ltd.</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              Here we supply the life line that is oxygen. We keep this in
              mind that none of our customers have to get in problem with
              Oxygen supply.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Products</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              <a class="text-dark">Liquid Oxygen</a>
            </p>
            <p>
              <a class="text-dark">Gaseous Oxygen</a>
            </p>
            <p>
              <a  class="text-dark">Large scale</a>
            </p>
            <p>
              <a class="text-dark">Sports Purpose</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Useful links</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              <a href="AboutUs" class="text-dark">AboutUs</a>
            </p>
            <p>
              <a href="login" class="text-dark">Login</a>
            </p>
            <p>
              <a href="all_services" class="text-dark">All services</a>
            </p>
            <p>
              <a href="team" class="text-dark">Help</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Contact</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p><i class="fas fa-home mr-3"></i> Sector 23 ,Mumbai-east</p>
            <p><i class="fas fa-envelope mr-3"></i> oxygen@supply.com</p>
            <p><i class="fas fa-phone mr-3"></i> +91 9944937495</p>
            <p><i class="fas fa-print mr-3"></i> +91 8954920403</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2022 Copyright:
      <a class="text-dark" href="home.html"
         >Oxygen Pvt. Ltd</a
        >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>
<!-- End of .container -->
  </body>
</html>
